# Ignorar carpetas de build y install generadas por colcon y python
build/
install/
log/

# Ignorar archivos y carpetas de distribución python (egg-info, pyc, etc)
*.egg-info/
*.egg
__pycache__/
*.pyc

# Ignorar archivos temporales y cachés del sistema
*.swp
*.DS_Store

# Ignorar enlaces simbólicos si no quieres trackearlos
log/latest
log/latest_build

# Ignorar colcon ignore files si no querés versionarlos
COLCON_IGNORE

